

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#ffffff
}

.main {
  flex: 1;
  background-image: url(https://i.pinimg.com/736x/2e/03/22/2e03226e93fb405508db538094014e3b.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
}


